# Build artifacts
target/
.cpcache/
.aws-sam/
bin/bootstrap

# Virtual Environments
.venv/
venv/
__pycache__/

# Environment
.env
.env.local
env.json

# Local development / Testing
.local/
/events/
event.json
*.log
*.profraw
*.profdata

# OS/Editor
.DS_Store
.idea/
.vscode/
*.swp
*.iml


# Experimentos locales
scratch/
